---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Fazza Razaq Amiarso">
    <header class="w-full">
        <nav class="">
            <ul class="flex w-full items-center gap-2">
                <li><a href="/">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="text-primary-black text-4xl">The Blog</h1>
        <p class="text-secondary-text font-semibold">Where I dump and share my idea</p>
    </main>
</Layout>