---
import Layout from "@/layouts/Layout.astro";
import Icon from "astro-icon";
---

<Layout title="About me - Fazza Amiarso" description="Get to know more about Fazza Razaq Amiarso in this page.">
    <main class="max-w-[60ch] prose mt-12">
        <h1 class="text-3xl">About me</h1>
        <div class="space-y-4 ">
            <p class="text-lg">Hello again
                <Icon name="emojione:waving-hand" width="20" class="inline-block" />, I am Fazza. A fullstack developer
                from Indonesia
                <Icon name="emojione:flag-for-indonesia" width="20" class="inline-block" />. I love building things,
                especially things that are helpful for people.
            </p>
            <p class="text-lg">I'm interested in teaching and sharing my knowledge to others. So, they don't have struggle too much. I help
                others by writing blog.
                Sometimes on Frontendmentor.io. I would like to build a community like Kent C. Dodds in Indonesia.</p>
            <p class="text-lg">Currently, I working on my skills so I can contribute more on Open Source. </p>
        </div>
    </main>
</Layout>