---
import ProjectCard from '@/components/ProjectCard.astro';
import Layout from '@/layouts/Layout.astro';
import type { ProjectsFM } from 'types/frontmatter';


const projects = await Astro.glob<ProjectsFM>('./projects/*.mdx')
---

<Layout title="Fazza Razaq Amiarso">
	<header class="w-full py-4">
		<nav class="">
			<ul class="flex w-full items-center gap-2">
				<li><a href="/">Home</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>
	</header>
	<main class="mt-12">
		<h1 class="text-primary-black text-4xl mb-8">Hi, I am <span>Fazza Razaq Amiarso</span></h1>
		<h2 class="text-2xl mb-6">Projects</h2>
		<ul>
			{projects.map(project => {
			return (
			<ProjectCard cover={project.frontmatter.cover} description={project.frontmatter.description}
				title={project.frontmatter.title} />
			)
			})}
		</ul>
	</main>
</Layout>