---
import dayjs from 'dayjs'
import localizedFormat from 'dayjs/plugin/localizedFormat'
dayjs.extend(localizedFormat)
import ProjectCard from '@/components/ProjectCard.astro';
import TechIcons from '@/components/TechIcons.astro';
import Layout from '@/layouts/Layout.astro';
import { tech_names } from 'data/tech-icon-list';
import type { ProjectsFM } from 'types/frontmatter';

const projects = await Astro.glob<ProjectsFM>('./projects/*.mdx');
const sortedProjects = projects.sort((a, b) => dayjs(b.frontmatter.publishedAt).unix() - dayjs(a.frontmatter.publishedAt).unix())
---

<Layout title="Fazza Razaq Amiarso">
	<main class="my-12">
		<h1 class="animate__animated animate__fadeInUp animate__faster text-primary-red text-4xl mb-8">
			<div class="text-primary-text font-semibold text-xl mb-4">Hi, I'm Fazza Razaq Amiarso</div>
			<div class="max-w-[20ch] mb-2">I build software to help create a better world</div>
			<div class="text-primary-text text-lg font-normal">and I love to share and teach while at it </div>
		</h1>
		<div class="mt-20 space-y-8">
			<div>
				<h2 class="text-2xl">Techs</h2>
				<p class="text-secondary-text">Some of tech that I've used or have worked with.</p>
			</div>
			<div class="flex items-center gap-6 flex-wrap justify-evenly xl:grid xl:grid-rows-2 xl:grid-flow-col xl:gap-8 xl:justify-start">{tech_names.map(name =>
				<TechIcons iconName={name} />
				)
				}
			</div>
		</div>
		<div class="mt-12 space-y-8">
			<div>
				<h2 id="featured-projects" class="text-2xl ">Projects</h2>
				<p class=" text-secondary-text">My featured works, in detail.</p>
			</div>
			<ul
				class="flex flex-col w-full gap-4 sm:justify-evenly sm:flex-row sm:flex-wrap lg:justify-between place-content-center">
				{sortedProjects.map(project => {
				return (
				<ProjectCard {...project.frontmatter} />
				)
				})}
			</ul>
		</div>
	</main>
</Layout>