---
import clsx from "clsx";
import Toggle from "./ToggleTheme.astro";
const navigation = [
    {
        name: "Home",
        path: "/",
        matchName : "/"
    },
    {
        name: "Projects",
        path: "/projects",
        matchName : "/projects"
    },
    {
        name: "Blog",
        path: "/blog",
        matchName : "/blog"
    },
    {
        name: "About",
        path: "/about",
        matchName : "/about"
    },
]
const currentPath = Astro.url.pathname;
const isHomePath = Astro.url.pathname === "/"
---

<header class="w-full sticky -top-1 bg-primary-bg z-40 ">
    <nav class="layout py-6 flex items-center text-sm sm:text-base">
        <ul class="flex w-full items-center gap-6">
            {navigation.map(item => {
            const isHomeUrl = item.matchName === '/'
            const isActivePath = (currentPath.startsWith(item.matchName) && !isHomeUrl) || (isHomePath && isHomeUrl)
            return ( <li><a href={item.path} class={clsx(isActivePath ? "font-semibold dark:text-primary-red" : "text-secondary-text" ,
                    )}>{item.name}</a></li>)
            })}
        </ul>
        <Toggle/>
    </nav>
</header>

