---
import AstroIcon from "astro-icon";
import clsx from "clsx";
---

<button
    role="switch"
    id="dark-mode"
    class={clsx(
        "px-2 py-1 rounded-md dark:ring-0 bg-white aspect-square overflow-hidden flex items-center",
           "ring-1 ring-primary-text"
    )}
    onclick="window.toggleMode()"
    aria-label="dark mode"
>
    <AstroIcon id='sun' name="akar-icons:sun" width="20"  class="hidden dark:inline-block animate__animated animate__slideInUp  animate__faster" /> 
     <AstroIcon id='moon' name="akar-icons:moon" width="20" class="inline-block dark:hidden animate__animated animate__slideInDown animate__faster"  />         
</button>



<script is:inline>
    const root = document.documentElement;
    const currentTheme = localStorage.getItem("theme");
    const switchBtn = document.querySelector("button")

    const toggleMode = () => {
        root.classList.toggle("dark");
        switchBtn.ariaChecked = root.classList.contains("dark") ? "true" : "false"
        localStorage.setItem("theme", root.classList.contains("dark") ? "dark" : "light")
    };

    window.toggleMode = toggleMode;
    if (
        currentTheme === "dark" ||
        (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
        root.classList.add("dark");
        switchBtn.ariaChecked = "true"
    } else {
        root.classList.remove("dark");
        switchBtn.ariaChecked = "false";
    }
</script>
