---

---

<header class="w-full py-4">
    <nav class="">
        <ul class="flex w-full items-center gap-2">
            <li><a href="/">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>