---

---

<header class="w-full  sticky -top-1 bg-primary-white z-40 ">
    <nav class="py-6 ">
        <ul class="flex w-full items-center gap-4">
            <li><a href="/">Home</a></li>
            <li><a href="#featured-projects">Projects</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
</header>