---
import { Image } from "@astrojs/image/components";
import requestD from '../assets/requestD.png'
type Props = {
    cover: string,
    title: string,
    description: string,
}
const { title, cover, description } = Astro.props as Props
---

<li class="group hover:ring-2 hover:ring-primary-red transition-all  w-10/12 p-3 rounded-lg max-w-sm  shadow-sm">
    <Image src={import.meta.env.DEV ? requestD : cover} aspectRatio="16:9" format="png" class="rounded-lg" alt={title}
        width={1200} height={630} />
    <div class="flex items-center py-2 gap-2">
        <span class="text-xs px-1 ring-1 ring-primary-black rounded-sm">next.js</span>
        <span class="text-xs px-1 ring-1 ring-primary-black rounded-sm">tailwind</span>
        <span class="text-xs px-1 ring-1 ring-primary-black rounded-sm">prisma</span>
        <span class="text-xs px-1 ring-1 ring-primary-black rounded-sm">trpc</span>
    </div>
    <h2 class="text-xl">{title}</h2>
    <p class="text-secondary-text text-sm mb-6">{description}</p>
    <a href="#" class="group-hover:underline hover:underline text-primary-red transition-colors ">more
        details</a>
</li>