---
import { Icon } from 'astro-icon'
import { icon_list } from 'data/tech-icon-list';

const {iconName} = Astro.props;

const pack = icon_list[iconName].iconName
const name = icon_list[iconName].name
---
<div class="space-y-2 flex flex-col items-center ">
    <Icon name={pack} class="w-10 aspect-square text-primary-black fill-primary-black" />
    <p class="text-sm text-secondary-text">{name}</p>
</div>
