---
import { Icon } from 'astro-icon'
import { icon_list } from 'data/tech-icon-list';
import clsx from 'clsx';

const {iconName} = Astro.props;

const pack = icon_list[iconName].iconName
const name = icon_list[iconName].name
const withBg = icon_list[iconName].background
---
<div class="space-y-2 flex flex-col items-center">
    <Icon name={pack} class={clsx("aspect-square fill-primary-text text-primary-text w-10", withBg ? "dark:bg-primary-text dark:p-2" : "")} />
    <p class="text-sm text-secondary-text">{name}</p>
</div>
