---
type Props = {
    youtubeId : string,
    title : string
}
const {youtubeId, title} = Astro.props as Props 
---
<div class="">
    <lite-youtube videoid={youtubeId} videotitle={title}></lite-youtube>
  </div>
<script>
import '@justinribeiro/lite-youtube';
</script>
  