---
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";

interface Props {
	title: string,
	description: string,
	type?: string,
}

const { title, description, type } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
	<title>{title}</title>
	<meta name="description" content={description
		|| "Personal website of Fazza Razaq Amiarso. Blog, Projects, and more." } />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<!-- Favicons -->
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
	<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#1c1c1c">
	<!--  -->
	<!-- Open graph -->
	<meta name="generator" content={Astro.generator} />
	<meta property="og:title" content={title} />
	<meta property="og:url" content="https://fazzaamiarso.me" />
	<meta property="og:description" content={description
		|| "Personal website of Fazza Razaq Amiarso. Blog, Projects, and more." } />
	<meta property="og:type" content={type || "website" } />
	<meta property="og:image"
		content="https://res.cloudinary.com/dkiqn0gqg/image/upload/v1660581454/og-fazzaamiarso.me_vgpgs2.jpg" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:image:alt" content="Fazza Razaq Amiarso personal site banner" />
	<!--  -->
	<!-- Twitter card -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:creator" content="@faz_razq" />
	<!--  -->
</head>

<body class="bg-primary-white max-w-5xl mx-auto w-10/12 ">
	<Navbar />
	<slot />
	<Footer />
</body>

</html>
<style is:global>
	@font-face {
		font-family: "montserrat";
		src: url("/fonts/montserrat-bold-webfont.woff2") format("woff2"),
			url("/fonts/montserrat-bold-webfont.woff") format("woff");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "montserrat";
		src: url("/fonts/montserrat-regular-webfont.woff2") format("woff2"),
			url("/fonts/montserrat-regular-webfont.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "montserrat";
		src: url("/fonts/montserrat-semibold-webfont.woff2") format("woff2"),
			url("/fonts/montserrat-semibold-webfont.woff") format("woff");
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'open-sans';
		src: url('/fonts/opensans-regular-webfont.woff2') format('woff2'),
			url('/fonts/opensans-regular-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;

	}

	@font-face {
		font-family: 'open-sans';
		src: url('/fonts/opensans-bold-webfont.woff2') format('woff2'),
			url('/fonts/opensans-bold-webfont.woff') format('woff');
		font-weight: 700;
		font-style: normal;
		font-display: swap;

	}

	@font-face {
		font-family: 'open-sans';
		src: url('/fonts/opensans-semibold-webfont.woff2') format('woff2'),
			url('/fonts/opensans-semibold-webfont.woff') format('woff');
		font-weight: 600;
		font-style: normal;
		font-display: swap;

	}

	html {
		scroll-padding-top: 5rem;
		scroll-behavior: smooth;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "montserrat";
		font-weight: bold;
	}
	a{
		word-break: break-all;
	}

	body {
		font-family: "open-sans";
		margin: 0;
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>